<div class="contenedor-carrito">
   
    {{#each listcarrito}}

    <div  class="carrito-productos">
        <div class="carrito-producto">
            <img class="carrito-producto-imagen" src="{{img}}" alt="{{title}}">
            <div class="carrito-producto-titulo">
                <small>Título</small>
                <h3 class="h3-carrito">{{title}}</h3>
            </div>
            <div class="carrito-producto-cantidad">
                <small>Cantidad</small>
                <div class="increment-decrement">
				<span class="menos2">-</span>
                <h4 style="display: none;">{{code}}</h4>
				<span class="num2">{{stock}}</span>
				<span class="mas2">+</span>
			</div>
            <div class="disponibles">
                <small class="disp">Disponibles</small>
                 <span class="disponibles">{{stockReal}}</span>
            </div>
            </div>
            <div class="carrito-producto-precio">
                <small>Sub total</small>
                <p class="precio2">${{price}}</p>
                <button class="carrito-producto-eliminar" id="abrigo-01"><i class="bi bi-trash-fill carritoTrash"></i></button>
            </div>
            
        </div>
    </div>
    
    {{/each}}

    <div class="sumatoria-carrito">
        <p class="total-carrito">TOTAL = ${{sumaPrecios}}</p>
    </div>
</div>

<script src="/logic.carrito.js"></script>