 <div class="propaganda">
        <h1>OFERTAS ONELÚ</h1>
    </div>
<div class="container-items">
	
	{{#each listProducts}}
	<div class="item ">
		<figure>
			<img src="{{img}}" alt="{{title}}" />
		</figure>
		<div class="info-product">
			<h2>{{title}}</h2>
			<h3> {{description}}</h3>
			<h4 style="display: none;">{{code}}</h4>
			<span class="stock">Stock:{{stock}}</span>
			<p class="price">${{price}}</p>

			<div class="increment-decrement">
				<span class="menos">-</span>
				<span class="num">0</span>
				<span class="mas">+</span>
			</div>

			<button class="btn-add-cart " disabled="true"  >Añadir al carrito</button>

		</div>
	</div>
	{{/each}}
</div>